<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">

</head>

<body>
	<nav th:replace="layouts::navbar"></nav>
	
	<div class="container">
		
		<form action="/employees/save" method="POST" th:object="${employee}">
			<p> First Name: <input type="text" th:field="${employee.firstName}"/> </p>
			<p> Last Name: <input type="text" th:field="${employee.lastName}"/> </p>
			<p> Email: <input type="text" th:field="${employee.email}"/> </p>
			<input type="submit" />
		</form>
	</div>
	
</body>

</html>